 /* Css for index fil */
#most-popular-products{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner {
  /* Metode: https://www.w3schools.com/cssref/pr_background-image.php */
  background-image: url(/img/banner.jpg);
  background-size: cover;
  
  height: 500px;
  width: 100%;
  margin-top: 1rem;
  border-radius: 25px
  
}
#banner-flex-items{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-end;
  margin-left: 10rem;
  max-height: fit-content;
  
  button{
      height: 3rem;
      width: 6rem;
      background-color: white;
      border-radius: 50px;
      border-width: 1px;

      text-transform: uppercase;
      font-size: small;
      font-weight: bold;
  }
}

#products{
  /* Seksjonenen som inneholder produkter */
  #buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;        
    gap: 1rem;

    button{
      /* Vi lager høyde og bredde for knapper */
      height: 2rem;
      width: 6rem;
      background-color: white;
      border-radius: 50px;
      border-width: 1px;

      font-size: small;
      font-weight: 500;
      
    }
    button:hover{
      /* Vi vil ha svart bakgrunn og hvit tekst for hover */
      background-color: black;
      color: white;
    }
  }
}
li {
  list-style: none;
}
.product-cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.product_card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 437px;
  img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    min-height: 50%;
  }
  .product-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .stars-product{
    display: inline-flex;
    flex-direction: row;
    gap: 0.2rem;
    aside{
      margin-left: 0.5rem;
    }
  }
}
#categories{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  }
  
  
  .category{
    /* Her ligger css for kategori klassen */

    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    border-radius: 10px;

    p{
      color: white;
      font-size: 24px;
    }
  }

  /* Vi gir hver kategori et bakgrunnsbilde som er tilfeldig og blurret. */
  #category_1{background-image: url(/img/kategorier/Kategori1.jpg);
    max-width: 386px}
  #category_2{background-image: url(/img/kategorier/Kategori2.jpg);
    max-width: 386px;}
  #category_3{
    height: 500px;
    background-image: url(/img/kategorier/Kategori3.jpg);
    max-width: 386px;
  }
  #category_4{background-image: url(/img/kategorier/Kategori4.jpg);
  max-width: 864px;}
  
  #category_5{background-image: url(/img/kategorier/Kategori5.jpg);
    max-width: 386px;}




#review-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review {
  max-width:289px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  border-radius: 20px;
  border-width: 1px;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 289px;
  
}
.review img{
  border-radius: 560px;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
    max-height: 150px;
    max-height: 150px;
    border-radius: 560px;
  max-height: 150px;
    border-radius: 560px;

}
.review .stars{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}



/* CSS for product.html */
.breadcrumbs{
  display: flex;
  flex-direction: row;
  list-style: none;
  float: left;
  margin-left: -1rem;
  gap: 0.25rem;
}

#product-main{
  display: flex;
  margin-top: 5rem;
  flex-direction:column;
  img{
    max-width: 700px;
  }
  
  
}
.similar-products{
  display: flex;
  flex-direction: column;
}
#small_image{
  img{
    max-width: 160px;
  }
}






/* CSS
 for checkout.html fil */


.delivery-card{
  border: solid 1px grey;
  padding: 0.7rem;
  margin-bottom: 1rem;
  section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    
    p{
      margin-left: 1rem;
    }
  }
  .virkedager{
    color: grey;
    font-weight: bold;
  }
}

#container-leveringsinfo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .leveringsinfo{
    width: 100%;
  }
  button{
    background-color: rgb(47, 46, 46);
    color: white;
    height: 3rem;
  }
  a{
    color: blue;
    text-decoration: underline;
    text-align: center;
  }
  input{
    height: 2rem;
    width: 100%;
  }
}


#payment{
  text-align: center;
}
#payment .price{
  font-size: 20px;
  font-weight: bold;
}
#payment button{
  height: 3rem;
  width: 100%;
  background-color: rgb(47, 46, 46);
  color: white;
}
/* CSS for alle filer */
* {
  font-family: sans-serif;
  
}

.logo{
  width: 70px;
}
body{
  max-width: 1200px;
}
h1{
  font-size: 2rem;
}

#grid-container{
  display: grid;
  grid-template-rows: auto 3fr auto;
  grid-template-columns: auto;
  /* border: 2px solid limegreen; */
  
  width: 100%
  
  
  
  
}




#global-header {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  
  
  flex-direction: column;
  #shoppingcart-icon{
    margin-right: auto;
    margin-left: -0.1rem;
 }
}

#global-header, footer{
  ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
#icons ul li a:hover{

  i{
    transform: scale(1.3);
  }
}

a{
  color: black;
  text-decoration: none;
}
#searchbar{
  display: flex;
  justify-content: center;
  max-height: 1.5rem;
  max-width: 360px;
  
  border: 1px solid;
  border-radius: 15px;

  
  margin-inline: 2rem 2rem;
  padding: 0.2rem;
  gap: 5rem;

  button, input{
    align-items: center;
    background-color: white;
    border: none; 
  }
}

main{
  grid-row-start: 2;
  grid-row-end: 3;
}
footer {
  /* Dette representerer footern vår */
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  
  flex-direction: column;
  width: 100%;
  #footer-main-content{
    padding: rem;
  }
  ul > *{
    margin-left: -1rem;
  }
  #breakline{
    width: 100%;
  }
}
/* 
Vi bruker media queries for å få responsivt design på nettstedet vårt */
@media only screen and (min-width: 800px) {
  body{
    margin: 0 auto;
    padding: 0;
  }
  #global-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  

  #category-grid-container{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    gap: 5px;
    gap: 1rem;
    padding: 1rem;
  }

  #category_1{
    grid-area: 1 / 1 / 3 / 2;;
  }
  #category_2{
    grid-area: 1 / 2 / 3 / 3;
  }
  #category_3{
    grid-area: 1 / 3 / 4 / 4;
  }
  #category_4{
    grid-area: 3 / 1 / 6 / 3;
  }
  #category_5{
    grid-area: 4 / 3 / 6 / 4;
  }


  #review-flex-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 1rem;
  }
  #global-header{
    nav{
      display: flex;
      flex-direction: row;
    }

    
    #links{
      display: inline-flex;
      margin-inline-end: 10rem;
    }
    
    #icons{
      margin-inline-end: 2rem;
    }
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }
  #banner-flex-items{
    p{
      margin-left: 30rem;
    }
  }
  footer{
    flex-direction: column;
  }
  #footer-main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    section{
      align-items: center;
    }
    #social-media-links{
      display: inline-flexbox;
      flex-direction: row;
      justify-content: flex-start;

      gap: 2rem;
      margin-left: -1rem;
      li i{
        font-size: 20px;
      }
    }
  }
}


@media only screen and (max-width: 800px){
  #category-grid-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .category{
    min-height: 400px;
    min-width: 100%;
  }
}
